@import "animation";
@import "common";

.rcw-widget-container {
    // background-color: red;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 370px;
    position: fixed;
    right: 0;
    width: 90vw;
    z-index: 9999;
}

.rcw-full-screen {
    @include widget-container-fs;
}

// https://github.com/Wolox/react-chat-widget/issues/211
@media screen and (max-width: 800px) {
    .rcw-widget-container {
        // height: 100vh;
        margin: 0;
        max-width: none;
        width: 100%;
        &.active {
            height: 100vh;
        }
    }

    .rcw-conversation-container .rcw-title {
        padding: 15px 0 15px;
    }

    .rcw-conversation-container {
        height: 0%;
    }

    .rcw-conversation-container.active {
        height: 100vh;
    }
}

.rcw-previewer .rcw-message-img {
    cursor: pointer;
}
